.landing-page {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: #3f51b5;

  display: flex;
  align-items: center;
  justify-content: center;

  // &__content {
  //   display: table-cell;
  //   vertical-align: middle;
  //   text-align: center;
  //   padding: 0 1rem; 
  // }
}