.table {
  width: 100%;
  border-spacing: 0;
  overflow-y: scroll;
  // flex: 1 1 0;

  // &__header {
    // display: table-header-group;

    // &--row {
    //   color: inherit;
    //   display: table-row;
    //   outline: 0;
    //   vertical-align: middle;
    // }

    // &--title {
    //   width: 100%;
    //   color: #fff;
    //   background-color: #000;
    //   font-weight: 500;
    //   line-height: 1.5rem;
    //   display: table-cell;
    //   padding: 16px;
    //   font-size: 0.875rem;
    //   text-align: left;
    //   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    //   border-bottom: 1px solid rgba(224, 224, 224, 1);
    //   letter-spacing: 0.01071em;
    //   vertical-align: inherit;
    // }
  // }
}